* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    font-family: 'Anton', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.wrapper {
    width: 90%;
    max-width: 700px;
    background: rgba(255, 255, 255, 0.2); /* Glassmorphism effect */
    border-radius: 20px;
    padding: 30px;
    backdrop-filter: blur(10px); /* Blur effect for glassmorphism */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.abc {
    font-weight: bolder;
    font-size: 3rem;
    color: #e7d4d4;
    text-transform: capitalize;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    animation: typing 2s steps(15), cursor .4s step-end infinite alternate;
}

.bcd {
    font-size: 1.5rem;
    color: #e7d4d4;
    margin-bottom: 40px;
    text-align: center;
}

.btn {
    width: 100%;
    max-width: 250px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    padding: 12px 20px;
    margin-top: 10px;
    border-radius: 20px;
    cursor: pointer;
    color: white;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.qr-btn {
    background: #bb6565;
}

.download-btn {
    background: #53b153;
}

.reset-btn {
    background: #e2c627;
}

input {
    height: 45px;
    padding: 10px 20px;
    font-size: 1rem;
    width: 100%;
    max-width: 300px;
    border-radius: 20px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

#qrcode {
    margin-top: 20px;
}

#buttons {
    display: flex;
    gap: 10px;
}

@keyframes cursor {
    50% { border-color: transparent; }
}

@keyframes typing {
    from { width: 0; }
}

.social-container {
    display: flex;
    gap: 10px;
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.button {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.2); /* Glassmorphism effect */
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.button:hover {
    transform: scale(1.1);
}

.icon1, .icon2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.icon1 i, .icon2 i {
    font-size: 24px;
}

span {
    font-size: 1.2rem;
    margin-left: 10px;
}



